
/* relevant styles */
.img__wrap {
  position: relative;
  display: inline-block;
}

.img__img {
  vertical-align: bottom;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(16, 81, 124);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover img{
  opacity: 50%;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__wrap:hover p{
  font-weight: bold;
  
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}